version: "3.9"

services:

  postgresql:
    image: postgres:latest
    container_name: postgresql
    restart: unless-stopped
    # network_mode: host
    ports:
      - "5432:5432"
    command: [ "postgres", "-c", "wal_level=logical" ]
    environment:
      - POSTGRES_MULTIPLE_DATABASES="statisticsmanager","account_manager","jwt_token_management"
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
    volumes:
      - ./docker-postgresql-multiple-databases:/docker-entrypoint-initdb.d

  zookeeper:
    image: debezium/zookeeper:1.6
    container_name: zookeeper
    # network_mode: host
    ports:
      - "2888:2888"
      - "2181:2181"
      - "3888:3888"
    restart: unless-stopped

  kafka:
    image: debezium/kafka:1.6
    container_name: kafka
    depends_on:
      - zookeeper
    # network_mode: host
    ports:
      - "9092:9092"
    restart: unless-stopped
    environment:
      - ZOOKEEPER_CONNECT=zookeeper:2181

  connect:
    image: debezium/connect:1.6
    container_name: connect
    depends_on:
      - kafka
    # network_mode: host
    ports:
      - "8084:8083"
    restart: unless-stopped
    environment:
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - BOOTSTRAP_SERVERS=kafka:9092

  account-manager:
    # uses the latest production image
    image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-services/account-manager-service:latest
    container_name: account-manager-test
    restart: unless-stopped
    depends_on:
      # - test-db
      - postgresql
      - connect
    ports:
      - "8081:8080"
    environment:
      # - DATABASE_IP=test-db
      - DATABASE_IP=postgresql
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=mysecretpassword
      - KAFKA_BROKER_ENDPOINT=kafka:9092
      - GITLAB_CI_TEST=False
      - JWT_SIGN_KEY=f797b720a53f8e9c71d33700f2a703acea28985dd427369a3f55f48ba171998e408b44c072c1d9dfb06192aa6808c8a9e28b68dbe842d0c1473405fc298f31708ad12168bcdeb642ba619866ae1c0a49fa4fa248818535105ec7931901589de6b4f316273994003db830f23331b12c9da51415d479ead7729bb30c7df54aaf78

  influx-db-service:
    image: influxdb:2.7
    container_name: influxdb
    volumes:
     - influxdb:/var/lib/influxdb2
    environment:
     - DOCKER_INFLUXDB_INIT_MODE=setup
     - DOCKER_INFLUXDB_INIT_USERNAME=cpes
     - DOCKER_INFLUXDB_INIT_PASSWORD=mysecretpassword
     - DOCKER_INFLUXDB_INIT_ORG=inesctec
     - DOCKER_INFLUXDB_INIT_BUCKET=interconnect-eot-meters
     - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=KnbXcUIzAE0-2cNfC-w1yz8MbsPZGpV6XTZbXdcJtIVHZEkFgiYoEgKv0NtMZbnl-DRbEaPX0bk5Fy-5UbBnOg==
    ports:
     - 8086:8086

volumes:
  influxdb:
